body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    background: white;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.header-text h1 {
    margin: 0;
}

.subheading {
    font-style: italic;
    font-size: 16px;
    margin-top: 5px;
}

.section h2 {
    text-align: left;
    color: #222;
}

.education-item, .responsibility {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.year {
    font-weight: bold;
    color: #555;
}

.project h3 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

i {
    margin-right: 5px;
}

hr {
    border: 1px solid #ccc;
    margin: 15px 0;
}

.section-heading {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
}


.project-box {
    border: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
}


.project-title a i {
    font-size: 1.2em;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.project-title a i:hover {
    color: #007bff;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
/*     background-color: #f8f9fa; */
    padding: 15px;
    border-radius: 10px;
/*     border: 1px solid #ddd; */
}

.skill-category {
    background-color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.certification-item {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ddd;
}

